.git
.gitignore
.env
.env.*
!.env.example
.next
node_modules
.pnpm-store
coverage
exports
playwright-report
test-results
print-samples
e2e
supabase/.branches
supabase/.temp
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
*.tsbuildinfo
